@model XavSpace.Website.ViewModels.Boards.NoticeBoardIndexViewModel

@{
    ViewBag.Title = "Delete Notice Board";
}

@*Delete Official Notice Board form*@

<h2>Delete</h2>

<h3>Are you sure you want to delete the '@Model.Title' board?</h3>
<div>
    @using (Html.BeginForm(new { id = Model.Id }))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default"/> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>


