@model XavSpace.Website.ViewModels.Notices.DetailedNoticeViewModel
@{
    var date = Model.DateCreated.Value.Day + "th " + Model.DateCreated.Value.ToString("MMMM") + ", " + Model.DateCreated.Value.Year;
}

<div class="myPostBody">
    <div class="row">
        <div class="col-md-8">

           

               
                <div class="myPostBodyOuter">
                    <div class="myPostBodyInner">
                        <h4>@date</h4>
                        <h2>@Html.DisplayFor(model =>Model.Title)</h2>

                        <h3> @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Description))</h3>


                    </div>
                </div>

                <br>
            
        </div>
    </div>
</div>