@model IEnumerable<XavSpace.Website.ViewModels.Notices.AmendedNoticeViewModel>

@{
    Layout = null;
}

@foreach (var item in Model)
{
    @Html.Partial("_MyPostsAmendedPartial", item)
}


<div class="xs-done col-md-8">No more notices.</div>