@model IEnumerable<XavSpace.Website.ViewModels.Notices.DetailedNoticeViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>My Posts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="container">
    <div class="body-content">
        <div class="myPostBody">
            <div class="row">
                <div class="col-md-8">
                    @foreach (var item in Model.OrderByDescending(i => i.DateCreated))
                    {
                        var date = item.DateCreated.Value.Day + "th " + item.DateCreated.Value.ToString("MMMM") + ", " + item.DateCreated.Value.Year;
                        <div class="myPostBodyOuter">
                            <div class="myPostBodyInner">
                                <h4>@date</h4>
                                <h2>@Html.DisplayFor(modelItem => item.Title)</h2>

                                <h3> @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Description))</h3>


                            </div>
                        </div>

                        <br>
                    }
                </div>
            </div>
        </div>
    </div>
</div>