@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
</hgroup>
<div>
    <address>
        @*The IT Department,<br />
        St. Xavier's College,<br />
        Mumbai - 400 001*@
        Galdin Raphael: <a href="mailto:gldraphael@gmail.com">gldraphael@@gmail.com</a>
    </address>
</div>