@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>This will be the landing page. Here we tell what XavSpace is and how it works and all.</p>
    </div>
</div>