@{
    ViewBag.Title = "About";
}
@*<hgroup>
        <h2>@ViewBag.Title</h2>
    </hgroup><div class="row-fluid">
        <div class="span12">
            <p>This will be the landing page. Here we tell what XavSpace is and how it works and all.</p>
        </div>
    </div>*@
<div id="aboutbody1" style="background-color:#d9230f;  display:table;  text-align:center">


    <div style="vertical-align:middle; display:table-cell ; padding-left:5%; padding-right:5%">
        <h1 style="color:white;">XavSpace keeps Xavier's notified. Get Notified and Post whatever you want, whenever you want. </h1>
        <br>
        <img class="img-responsive" src="~/Content/images/devices.png" style="padding-left:5%; padding-right:5%">
    </div>
</div>


<div id="aboutbody1" style="background-color:#eceff1; display:table; text-align:center ">
    
   <div style="vertical-align:middle; display:table-cell ; padding-left:5%; padding-right:5%">
        
     <img class="img-responsive" src="~/Content/images/fb.png" style="max-width:150px;display:inline"> 
        <h1 style="color:#808080; display:inline-block; padding-left:3%">Connect through Facebook. </h1>
    </div>

</div>

<div id="aboutbody1" style="background-color:#f55050; display:table;  text-align:center; ">


    <h1 style="color:white; display:table-cell; vertical-align:middle">Get XavSpace on your Phone </h1>
    <br>


</div>


