@{
    ViewBag.Title = "About";
}
@*<hgroup>
    <h2>@ViewBag.Title</h2>
</hgroup><div class="row-fluid">
    <div class="span12">
        <p>This will be the landing page. Here we tell what XavSpace is and how it works and all.</p>
    </div>
</div>*@

<div  id="aboutbody1" style="background-color:#d9230f;  display:table;  text-align:center" >
    
     <h1 style="color:white;display:table-cell; vertical-align:middle">XavSpace keeps Xavier's notified. Get Notified and Post whatever you want, whenever you want. </h1>
     <div style="vertical-align:bottom; display:table-row ;">
    <img src="~/Content/images/devices-white.png" style="height:55%; width:75%; ">
    </div>
   </div>
    

<div  id="aboutbody1" style="background-color:#eceff1;">
    <div class="row" style="text-align:center; display:table" >
       <div style="display:block; margin-top:150px">
        <img src="~/Content/images/Facebook_icon.png" style="height:20%; width:20%"><h1> Connect through Facebook.</h1> 
           </div>
    </div>
</div>

<div id="aboutbody1" style="background-color:#f55050; display:table;  text-align:center; " >

    
     <h1 style="color:white; display:table-cell; vertical-align:middle">Get XavSpace on your Phone </h1>
    <br>
    <div style="vertical-align:bottom; display:table-row;">
    
         
</div>

</div>


