@model Tuple<List<XavSpace.Website.ViewModels.Boards.NoticeBoardViewModel>, List<XavSpace.Website.ViewModels.Notices.NoticeViewModel>>
@{
    ViewBag.Title = "Search Results";
}

<h2>@ViewBag.Title</h2>

