@model Tuple<List<XavSpace.Website.ViewModels.Boards.NoticeBoardViewModel>, List<XavSpace.Website.ViewModels.Notices.NoticeViewModel>>
@{
    ViewBag.Title = "Search Results";
}

<h2>@ViewBag.Title</h2>

@foreach (var item in Model.Item2)
{

    Response.Redirect(@Url.Action("Notice", "Boards", new { id = item.Id }));





}

@foreach (var item in Model.Item1)
{
    Response.Redirect(@Url.Action("View","Boards", new { id = item.Id }));
    //@item.Notices
    @*@item.Title
    @item.Description*@

}