@{
    ViewBag.Title = "Confirm Email";
}
<h2>@ViewBag.Title</h2>
<p class="text-info">
    We have sent you an email. Please use the link in it to confirm your email address.
</p>
@if (HttpContext.Current.IsDebuggingEnabled)
{
    <a href="@ViewBag.Link">Link</a>
}