@{
    ViewBag.Title = "Reset link sent";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        A reset link has been emailed to you. Use the link to reset your password.
    </p>
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <a href="@ViewBag.Link">Link</a>
    }
</div>

