@import (multiple) 'variables.less';

/* ----- BOOTSTRAP TYPEAHEAD.JS STYLE FOR SEARCH ----- */
/*-------------------------------------------------------
-------------------------------------------------------*/

/*.tt-input,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}*/

/*.tt-input {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}*/

.tt-hint {
    color: #999;
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;

    .tt-cursor {
        color: #fff;
        background-color: #0097cf;
    }

    p {
        margin: 0 5px;
    }
}

/*-------------------------------------------------------
--------------------------------------------------------*/
/* ----BOOTSTRAP TYPEAHEAD.JS STYLE FOR SEARCH END ---- */


#aboutbody1 {
    width: 100%;
    height: 100vh;
    min-width: 200px;
    //background-color:lighten(@theme-color-teal, 15%);
    background-color: @theme-color-gray-dk;

    h1 {
        font-size: 2em;
    }
}

#aboutbody2 {
    width: 100%;
    height: 100vh;
    min-width: 200px;
    background-color: @theme-color-blue;

    h1 {
        font-size: 2em;
    }
}

#over {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center; /*handles the horizontal centering*/
}
/*handles the vertical centering*/
.Centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.Centered {
    display: inline-block;
    vertical-align: middle;
}

@media (min-width: 768px) {
    body {
        font-size: 12px;
    }

    @media (min-width: 992px) {
        body {
            font-size: 14px;
        }
    }

    @media (min-width: 1200px) {
        body {
            font-size: 16px;
        }
    }
}


.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    height: auto;
}

.navbar-brand {
    float: left;
    font-size: 17px;
    line-height: 18px;
    height: 40px;
    padding: 0;
}



.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox-ctm input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    //position: absolute;
    margin-top: 4px \9;
}

.radio + .radio,
.checkbox-ctm + .checkbox-ctm {
    margin-top: -5px;
}

.radio label,
.checkbox-ctm label {
    min-height: 18px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}

.form-inline .radio,
.form-inline .checkbox-ctm {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-horizontal .radio,
.form-horizontal .checkbox-ctm,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 9px;
}

.panel-delete {
    border-color: @theme-color-teal-lt;
}

.panel-delete > .panel-heading {
    color: #ffffff;
    background-color: @theme-color-teal-lt;
    border-color: @theme-color-teal-lt;
}

.panel-delete > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: @theme-color-teal;
}

.panel-delete > .panel-heading .badge {
    color: @theme-color-teal-lt;
    background-color: #ffffff;
}

.panel-delete > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: @theme-color-teal-lt;
}

.btn-delete {
    background-image: -webkit-linear-gradient(@theme-color-teal-lt, darken(@theme-color-teal-lt,1%), darken(@theme-color-teal-lt,2%));
    background-image: -o-linear-gradient(@theme-color-teal-lt, darken(@theme-color-teal-lt,1%), darken(@theme-color-teal-lt,2%));
    background-image: linear-gradient(@theme-color-teal-lt, darken(@theme-color-teal-lt,1%), darken(@theme-color-teal-lt,2%));
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff02a5de', endColorstr='#ff028fc0', GradientType=0);
    filter: none;
    border: 1px solid darken(@theme-color-teal-lt,10%);
    color: white;
}

.btn-delete:hover {
    background-image: -webkit-linear-gradient(@theme-color-teal-lt, darken(@theme-color-teal-lt,1%), darken(@theme-color-teal-lt,2%));
    background-image: -o-linear-gradient(@theme-color-teal-lt, darken(@theme-color-teal-lt,1%), darken(@theme-color-teal-lt,2%));
    background-image: linear-gradient(@theme-color-teal-lt, darken(@theme-color-teal-lt,1%), darken(@theme-color-teal-lt,2%));
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff02a5de', endColorstr='#ff028fc0', GradientType=0);
    filter: none;
    border: 1px solid darken(@theme-color-teal-lt,10%);
}

.table-responsive-ctm {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    -webkit-overflow-scrolling: touch;
}

.table-responsive-ctm > .table {
    margin-bottom: 0;
}

.table-responsive-ctm > .table > thead > tr > th,
.table-responsive-ctm > .table > tbody > tr > th,
.table-responsive-ctm > .table > tfoot > tr > th,
.table-responsive-ctm > .table > thead > tr > td,
.table-responsive-ctm > .table > tbody > tr > td,
.table-responsive-ctm > .table > tfoot > tr > td {
    white-space: nowrap;
}

#boards {
    background-image: url('images/NB2.jpg');
    background-size: 100% 100%;

    a {
        color: @theme-color-gray;
    }
}

.container-ctm {
    width: 100%;
}

.align-left {
    float: left;
    width: 50%;
}

.align-right {
    float: right;
    width: 50%;
}

#editor {
    overflow: scroll;
    max-height: 300px;
}

.btn-new {
    background-color: darken(@theme-color, 25%);
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
    background-color:transparent;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAgVBMVEXX19f////X19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19eiU1qAAAAAKnRSTlMAAPkGLa78ME4Vq+qccj+0z/B72AnksUgqiku67YSfqOHA3qJRDFTnkAPgSFcgAAAAdklEQVR4XlXL1xaDMAwDUOGQhJZVVvfe9f9/YINxT0Fv17IQTYMIKHZpk83Qp3fOXWYpjdWxW7aArxbqA8lrzuvBp7MsV7wdvHHS1+x1z/YB+P1vH5rXsXRMiRrFpbreSqa7WmIs03NkmHmYiP+H99j4JCZ4mi8BVQZCciEiWAAAAABJRU5ErkJggg==') /*images/search-white.png*/ no-repeat 9px center;
	border: none;
	padding: 9px 10px 9px 32px;
	width: 0;
    
	
    //vertical-align:middle;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 200px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAA6lBMVEVqb3X///8ZGx1qb3Vqb3VpbnRqb3Vqb3VdYWdqb3UZGx1qb3Vqb3Vqb3Vqb3Vqb3VeYmghIyVbX2QZGx03Oj5qb3VpbnRlam9qb3UtLzIZGx0ZGx1nbHJqb3VobXNma3EZGx1RVVlfY2lbYGVhZmtPU1hCRUlpbnRqb3Vqb3VpbnRjaG4ZGx1SVlpqb3Vqb3Vqb3Vqb3VfZGkZGx0+QUVhZmxpbnRnbHJbYGVfY2lqb3UZGx0ZGx0ZGx0ZGx0ZGx0fIiRdYmdqb3VQVFkgIiRiZ2wgIiRjaG4cHyFDR0shIyUZGx0ZGx1qb3UGwh7wAAAATXRSTlMAAAL6TvsV/c0tEz9y69i60GHARoHq0o2cVgQ+7Cr27QhpV6mKSFqxDDDw4hKw55+0/MkxjNf058fSURlNYFlBTM5Up0q6SJ1GlT8BHyB8ovwAAACOSURBVHheVcxFFoNQEETRgg9B4u7u7u6uvf/t5EAzSN7s1qAg/QcJcPujvoQLVpY9lAmNhNdwbGiBYDocycUcx9VkCjDPlGVf8wUAKFKJXdbsqwpV2TWqN4Bmq22yO13q9QdDUhU2xpPpbL5Yklixsd5sd/vDkcTJNidfdBIKm4ebTnc2Jz+er1/j/ZGlLz9uDyhEzYcEAAAAAElFTkSuQmCC') /*images/search-dark.png*/ no-repeat 9px center;
	background-color: #fff;
    
	border: none;
	//border-color: white;
	border:none;
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}


.demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
.demo-2 input[type=search]:hover {
	background-color: #fff;
}
.demo-2 input[type=search]:focus {
	width: 200px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
.demo-2 input:-moz-placeholder {
	color: transparent;
}
.demo-2 input::-webkit-input-placeholder {
	color: transparent;
}

.btnborder {
    width: 20px;
    border-radius: 12em;
}

.myPostBody{
    background-color:rgba(0, 0, 0, 0.2);

}

.myPostBodyOuter {
    background-color: #e8e8ec;
    border-radius: 0.5em 0.5em 2em 0.5em;
    box-shadow: 1px 1px 11px 0px rgba(50, 50, 50, 0.72);
    /*// background-color:lightseagreen;*/
}

.myPostBodyInner {
       padding:1em;
}