@model IEnumerable<XavSpace.Website.ViewModels.Notices.PendingNoticeViewModel>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    @Html.Partial("_PendingNoticesPartial", item)
}


    <div class="xs-done">No more pending notices.</div>

