@model List<XavSpace.Website.ViewModels.Notices.PendingNoticeViewModel>

@{
    ViewBag.Title = "Pending Notices";
}

<h2>Pending Approvals</h2>
<div class="body-content">

    @if (Model.Count == 0)
    {
        <div class="col-md-12" style="text-align:center">
    <p class="nothingThere ">No Pending notices</p>
            </div>
    }
    <div id="pendingPosts">
        @foreach (var item in Model)
        {
            @Html.Partial("_PendingNoticesPartial", item)
        }
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="spinner" id="loadingAnimation">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        var number = @Model.Count;
        var index = number;


        function getFeeds(n) {
            var url = "/Pending/GetFeed?index="+index+"&number="+n;
            $.get(url, function(data) {
                $("#pendingPosts").append(data);
                index = index + n;
            })
            .fail(function () {
                alert("Couldn't load more notices");
            });
        }

        function done() {
            return $('#pendingPosts .xs-done').length > 0;
        }

        $(window).scroll(function() {
            if($(window).scrollTop() + $(window).height() == $(document).height()) {

                if(done()==true)
                {
                    $("#loadingAnimation").hide();
                }
                else{
                    getFeeds(3);
                }
            }
        });

        if(number <3)
        {
            $("#loadingAnimation").hide();
        }
    </script>
}