@model IEnumerable<XavSpace.Website.ViewModels.Notices.DetailedNoticeViewModel>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    @Html.Partial("_NoticePartial", item)
}


    <div class="xs-done">No more notices.</div>
