@model IEnumerable<XavSpace.Website.ViewModels.Notices.NoticeViewModel>
@{
    ViewBag.Title = "Your Notices";
    Layout = "~/Views/Shared/_NewsFeedLayout.cshtml";
}
<h1>@ViewBag.Title</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            @foreach (var item in Model)
            {
                <div style="border:thin; background-color:white; margin-top:1em; border-radius:.2em; border-bottom-style:inset">
                    <div style="padding:1em">
                    <h1>Department Number @Html.DisplayFor(modelItem => item.NoticeBoardId)</h1>
                    <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                    <h4>@Html.DisplayFor(modelItem => item.Description)</h4>
                    <h4><b>By Order of the Principle</b></h4>
                    <div class="img-responsive">
                        <img src="~/Content/images/John_McCain_Signature.PNG" style="width:100px; height:auto"/>

                    </div>

                        
                    </div>
                </div>
            }
        </div>

    </div>



</div>
