<?xml version="1.0"?>
<connectionStrings>
  <add name="XSLocal" connectionString="Data Source=RAPHAEL-PC\SQLEXPRESS;Initial Catalog=XSLocal;Integrated Security=true;MultipleActiveResultSets=True"
       providerName="System.Data.SqlClient" />
  <!--<add name="XSLocal" connectionString="Data Source=JOSH-WINDOWS\SQLEXPRESS;Initial Catalog=XSLocal;Integrated Security=true;MultipleActiveResultSets=True"
       providerName="System.Data.SqlClient" />-->
</connectionStrings>